<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../imports') -%>
    <title>DMS | Dashboard</title>
    <link rel="stylesheet" href="stylesheets/DeliveryPersonDashboard/dashboard.css" />
  </head>
  <body>
    <nav class="navbar navbar-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">DMS</a>
        <div class="ms-auto d-flex align-items-center">
          <a href="/dashboard/users" class="text-dark">Users</a>
          <a href="#" class="text-dark mx-4" data-bs-toggle="modal" data-bs-target="#addNewOrder">Add New Order</a>
          <a href="/login" class="btn ms-auto logoutBtn">Logout</a>
        </div>
      </div>
    </nav>
    <div class="container pt-5">
      <h3 class="title mt-3 mt-sm-5 mb-4">All Orders</h3>
      <table class="table text-center">
        <thead>
          <th>#</th>
          <th>Order Name</th>
          <th>Assigned to</th>
          <th class="d-flex align-items-center justify-content-center">
            Status
            <i class="bx bx-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Checked, if delivered"></i>
          </th>
          <th>Delete Order</th>
        </thead>
        <tbody>
          <% let i=1;orders.forEach((order)=>{%>
          <tr>
            <th><%= i++ %></th>
            <td><%= order.name %></td>

            <td class="d-flex align-items-center justify-content-center">
              <%= order.assignedTo.email %>
              <i class="bx bxs-pencil ms-1 text-warning cursor-pointer" onclick="setOrderId(`<%=order._id%>`)" data-bs-toggle="modal" data-bs-target="#assignModal"></i>
            </td>

            <td>
              <% if(order.status){ %>
              <input class="form-check-input statusCheckbox cursor-pointer" type="checkbox" name="<%= i %>" disabled checked />
              <% }else{ %>
              <input class="form-check-input statusCheckbox cursor-pointer" type="checkbox" name="<%= i %>" disabled />
              <% } %>
            </td>
            <td>
              <i class="bx bxs-trash-alt text-danger cursor-pointer" onclick="deleteOrder(`<%=order._id%>`)"></i>
            </td>
          </tr>
          <% })%>
        </tbody>
      </table>
    </div>

    <!-- Assign/UnAssign Modal -->
    <div class="modal fade" id="assignModal" tabindex="-1" aria-labelledby="assignModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Assign Order To</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label for="deliveryGuy" class="form-label">Choose your Delivery Guy from the list:</label>
            <input class="form-control" list="deliveryGuys" name="deliveryGuy" id="deliveryGuyEmail" />
            <datalist id="deliveryGuys">
              <% deliveryGuy.forEach((deliveryGuy)=>{ %>
              <option value="<%=deliveryGuy.email%>"><%=deliveryGuy.email%></option>
              
              <% }) %>
            </datalist>

            <div class="text-end mt-4">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="assignOrder()">Assign Order</button>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <!-- Add New Order Modal -->
    <div class="modal fade" id="addNewOrder" tabindex="-1" aria-labelledby="addNewOrderLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Order</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="dashboard/addneworder" class="need-validation" method="POST">
              <div class="mb-2">
                <label for="name" class="form-label">Order Name</label>
                <input type="text" class="form-control" name="name" id="name" />
              </div>
              <div class="mb-2">
                <label for="deliveryGuy" class="form-label">Choose your Delivery Guy from the list:</label>
                <input class="form-control" list="addGuy" name="deliveryGuy" id="deliveryGuy" />
                <datalist id="addGuy">
                  <% deliveryGuy.forEach((guy)=>{ %>
                  <option value="<%= guy.email %>"><%= guy.email %></option>
                  <%}) %>
                </datalist>
              </div>
              <div class="text-end mt-4">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create Order</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    let selectedOrder

  function setOrderId(id) {
     selectedOrder = id
  }

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });

    function deleteOrder(id) {
      axios
        .post("/dashboard/deleteorder", {
          id: id,
        })
        .then(function (response) {
          if (response.status == 200) {
            location.reload();
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  
    function assignOrder(){

      let deliveryGuyEmail = document.getElementById('deliveryGuyEmail').value;
      let body={
        orderId: selectedOrder,
        assignedTo: deliveryGuyEmail
      }
      axios
        .post("/dashboard/assignorder",   
          body
        )
        .then(function (response) {
          if (response.status == 200) {
            location.reload();
          }
        })
        .catch(function (error) {
          console.log(error);
        });

    }

     </script>
</html>
